

<div id="preloader">
  <div id="status"> <img src="/assets/preloader.gif" height="64" width="64" alt=""> </div>
</div>
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="index.html">Jessica S. Peng<strong></strong></a></div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" class="page-scroll">Home</a></li>
        <li><a href="#services-section" class="page-scroll">Skills</a></li>
        <li><a href="#works-section" class="page-scroll">Portfolio</a></li>
        <li><a href="#about-section" class="page-scroll">About</a></li>
        <li><a href="#contact-section" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

<!-- Header -->
<div id="home">
<header class="text-center" name="home">
  <div class="intro-text">
      <div class="headerFont">
      <div class="type-wrap">
            <div id="typed-strings">
                <p>HI THERE,</p>
                <p>WELCOME TO MY STUDIO.</p>
                <p>ENJOY :-)</p>
            </div>
            <span id="typed" style="white-space:pre;"></span>
        </div>
      </div>
    <br><br><br><br><br><br><br><br><br><br>
    <a href="#services-section">
        <i title="see more ;)" class="fa fa-chevron-down fa-4x arrow"></i>
    </a>
    <br>
   <!--  <h1 class="wow fadeInDown">We are <strong><span class="color">Tempo</span></strong></h1>
    <p class="wow fadeInDown">a creative digital agency from New York</p>
    <a href="#works-section" class="btn btn-default btn-lg page-scroll wow fadeInUp" data-wow-delay="200ms">Our Portfolio</a> </div> -->
</header>
</div>

<!-- Services Section -->
<div id="services-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2>SKILLS</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <p>I am a full stack web developer.</p>

    </div>
    <div class="space"></div>
    <div class="row">
      <div class="net col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="200ms"> <i class="fa fa-laptop fa-4x"></i>
        <h4><strong>Web Fundamentals</strong></h4>
        <p>HTML/CSS, Bootstrap, jQuery, ERD/Database Design, Git/GitHub</p>
      </div>
      <div class="col-md-3 col-sm-6 service  wow fadeInUp ruby" data-wow-delay="400ms"> <i class="fa fa-diamond fa-4x"></i></i>
        <h4><strong>Ruby on Rails</strong></h4>
        <p>Ruby, Rails, SQLite, PostgreSQL, RSpec, Active Record, Test Driven Development, OOP</p>
      </div>
      <div class="lamp col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="600ms"> <i class="fa fa-lightbulb-o fa-4x lamp"></i> 
</i>
        <h4><strong>LAMP</strong></h4>
        <p>PHP, CodeIgniter, MySQL, Ajax, CRUD Operations</p>
      </div>
      <div class="mean col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="800ms"><i class="fa fa-leaf fa-4x"></i></i>
        <h4><strong>MEAN</strong></h4>
        <p>MongoDB, Express, AngularJS, Node.js, Socket.IO, Javascript</p>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="works-section" class="text-center">
  <div class="container"> <!-- Container -->
    <div class="section-title wow fadeInDown">
      <h2>PORTFOLIO</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <p>A few of my favorites.</p>
    </div>
    <div class="categories">
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 col-lg-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg"> <a href="www.tenderloves.com" target="_blank" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Tender</h4>
                ROR Project
                <div class="clearfix"></div>
                <i class="fa fa-heart"></i> </div>
              <img src="/assets/portfolio/01.jpg" target="_blank" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 app">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="400ms">
            <div class="hover-bg"> <a href="https://github.com/gesseekur/dojo_mojo" target="_blank" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Dojo_Mojo</h4>
                LAMP Project
                <div class="clearfix"></div>
                <i class="fa fa-gamepad"></i> </div>
              <img src="/assets/portfolio/02.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="600ms">
            <div class="hover-bg"> <a href="https://github.com/gesseekur/messageboard" target="_blank" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Message Board</h4>
                MEAN/Socket.IO Project
                <div class="clearfix"></div>
                <i class="fa fa-comment"></i> </div>
              <img src="/assets/portfolio/03.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="800ms">
            <div class="hover-bg"> <a href="https://github.com/gesseekur/pokewho" target="_blank" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>PokeWho?</h4>
                LAMP Project
                <div class="clearfix"></div>
                <i class="fa fa-hand-o-right"></i> </div>
              <img src="/assets/portfolio/04.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 app">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1000ms">
            <div class="hover-bg"> <a href="https://github.com/gesseekur/mini_store" target="_blank" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Mini Store</h4>
                MEAN Project
                <div class="clearfix"></div>
                <i class="fa fa-shopping-cart"></i> </div>
              <img src="/assets/portfolio/05.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 branding">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1200ms">
            <div class="hover-bg"> <a href="https://github.com/gesseekur/eplanner" target="_blank" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>EPlanner</h4>
                ROR Project
                <div class="clearfix"></div>
                <i class="fa fa-calendar"></i> </div>
              <img src="/assets/portfolio/06.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Section -->
<div id="about-section">
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h2>ABOUT ME</h2>
      <hr>
      <!-- <div class="clearfix"></div> -->
    <!--   <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p> -->
    </div>
    <div class="row">
     <!--  THIS IS THE PROFILE PICTURE
     <div class="col-md-6 col-sm-6  wow fadeInLeft"><img src="assets/team/03.jpg" alt="..." class="aboutPhoto img-circle img-responsive"> </div> -->
      <div class="col-md-6 wow fadeInRight">
          <h4>Hi there,</h4>
          <p>My name is Jessica Peng and I am an aspiring full stack web developer. As a recent graduate from <a href="http://www.codingdojo.com/" target="_blank">Coding Dojo</a>, I have experience with the LAMP stack, MEAN stack and Ruby on Rails. I am currently  searching for a Full Stack Web Developer junior position at a great company. Have any questions? Leave me a message below! </p>
          <p><i class="fa fa-file-pdf-o"></i> <%= link_to 'Download my resumé here', users_download_pdf_url %>
          <div class="space"></div><div class="list-style">

            <!-- <div class="row"> -->
       <!--        <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                  <li>Lorem ipsum dolor</li>
                  <li>Consectetur adipiscing</li>
                  <li>Duis sed dapibus leo</li>
                  <li>Sed commodo nibh ante</li>
                </ul>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                  <li>Lorem ipsum dolor</li>
                  <li>Consectetur adipiscing</li>
                  <li>Duis sed dapibus leo</li>
                  <li>Sed commodo nibh ante</li>
                </ul>
              </div>
            </div> -->
          <!-- </div>      -->
      </div>
    </div>
  </div>
</div>


<!-- Contact Section -->
<br><br><br><br><br><br><br><br><br><br><br>
<div id="contact-section" class="text-center">
  <div class="container">
    <div class="section-title wow text-center fadeInDown">
      <h2>KEEP IN TOUCH</h2>
      <hr>  
    </div>
       <div class="social">
        <ul>
          <li><a href="mailto:jessicaspeng@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
          <li><a href="https://twitter.com/gesseekur" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/gesseekur" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/jessicaspeng
" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
	<h3>Let's talk tech.</h3>
  <!-- <p>Serious Inquiries Only.</p> -->
      <form name="sentMessage" action="/users/create" method="post" id="contactForm" novalidate>
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="hidden" name="message[nickname]" placeholder="leave this blank">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" name="message[name]" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" name="message[email]"required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" name="message[message]" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default">Send Message</button>
      </form>
    </div>
  </div>
</div>
<!-- <div id="footer">
  <div class="container">
      <p>Copyright © Tempo. Design by <a href="http://www.templategarden.com" rel="nofollow">TemplateGarden</a></p>
  </div> -->
<!-- </div> -->

<!-- Portfolio Modals --> 
<!-- Use the modals below to showcase details about your portfolio projects! --> 

<!-- Portfolio Modal 1 -->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">  -->
            <!-- Project Details Go Here -->
 <!--            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="/assets/portfolio/01-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Portfolio Modal 2 -->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> --> 
            <!-- Project Details Go Here -->
     <!--        <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="/assets/portfolio/02-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Portfolio Modal 3 -->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">  -->
            <!-- Project Details Go Here -->
           <!--  <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="/assets/portfolio/03-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Portfolio Modal 4 -->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">  -->
            <!-- Project Details Go Here -->
     <!--        <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="/assets/portfolio/04-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Portfolio Modal 5 -->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">  -->
            <!-- Project Details Go Here -->
          <!--   <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="/assets/portfolio/05-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Portfolio Modal 6 -->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">  -->
            <!-- Project Details Go Here -->
        <!--     <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="/assets/portfolio/06-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Portfolio Modal 7 -->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
    <!--         <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="/assets/portfolio/07-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --> -->
<!-- Portfolio Modal 8 -->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
           <!--  <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="/assets/portfolio/08-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
 

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 

